In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor, BaggingRegressor
from nltk.stem.snowball import SnowballStemmer

In [3]:
df_train = pd.read_csv('data.csv', encoding="ISO-8859-1")#读入数据

In [5]:
df_all = df_train

In [6]:
df_all.shape#看一下数据形状

(4754, 90)

In [7]:
df_all.head()  #看一下前几行长什么样子

,Unnamed: 0,custid,trade_no,bank_card_no,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
0,5,2791858,20180507115231274000000023057383,¿¨ºÅ1,0.01,0.99,0,0.90,0.55,0.313,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
1,10,534047,20180507121002192000000023073000,¿¨ºÅ1,0.02,0.94,2000,1.28,1.00,0.458,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
2,12,2849787,20180507125159718000000023114911,¿¨ºÅ1,0.04,0.96,0,1.00,1.00,0.114,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
3,13,1809708,20180507121358683000000388283484,¿¨ºÅ1,0.00,0.96,2000,0.13,0.57,0.777,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
4,14,2499829,20180507115448545000000388205844,¿¨ºÅ1,0.01,0.99,0,0.46,1.00,0.175,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0

#### trade_no和bank_card_no没啥价值可以删除

In [11]:
df_all = df_all.drop(['trade_no','bank_card_no'],axis=1)

KeyError: "['trade_no' 'bank_card_no'] not found in axis"

In [10]:
df_all.head()  #删除了没用的两行

,Unnamed: 0,custid,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,transd_mcc,trans_days_interval_filter,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
0,5,2791858,0.01,0.99,0,0.90,0.55,0.313,17.0,27.0,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
1,10,534047,0.02,0.94,2000,1.28,1.00,0.458,19.0,30.0,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
2,12,2849787,0.04,0.96,0,1.00,1.00,0.114,13.0,68.0,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
3,13,1809708,0.00,0.96,2000,0.13,0.57,0.777,22.0,14.0,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
4,14,2499829,0.01,0.99,0,0.46,1.00,0.175,13.0,66.0,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0

In [18]:
type('loans_latest_day')  #目前consfin_max_limit类型是str

str

In [19]:
df_all['loans_latest_day']

0        18.0
1         2.0
2         6.0
3         4.0
4       120.0
5         4.0
6         3.0
7         NaN
8         7.0
9       142.0
10        9.0
11       35.0
12        6.0
13        9.0
14      193.0
15       27.0
16        1.0
17        7.0
18       77.0
19       37.0
20       71.0
21       23.0
22        1.0
23        9.0
24      104.0
25       82.0
26       80.0
27        6.0
28        9.0
29       34.0
        ...
4724      5.0
4725    100.0
4726     53.0
4727     57.0
4728      9.0
4729    104.0
4730    128.0
4731     11.0
4732    250.0
4733      9.0
4734    131.0
4735      6.0
4736    156.0
4737      7.0
4738     89.0
4739      9.0
4740    163.0
4741    140.0
4742      4.0
4743     12.0
4744     88.0
4745      8.0
4746      NaN
4747     22.0
4748     54.0
4749     58.0
4750     55.0
4751     55.0
4752     16.0
4753     54.0
Name: loans_latest_day, Length: 4754, dtype: float64

In [22]:
df_all['loans_latest_day'] = df_all['loans_latest_day'].astype(float)
type(df_all['loans_latest_day'])

pandas.core.series.Series

In [32]:

print('sssssss',type(df_all['consfin_credit_limit']) )
df_all['consfin_credit_limit']

sssssss <class 'pandas.core.series.Series'>

0        1200.0
1       15100.0
2        4200.0
3       16300.0
4        8300.0
5       11200.0
6        7600.0
7           NaN
8        5500.0
9           0.0
10       9900.0
11       8300.0
12      19300.0
13       5000.0
14          0.0
15      18400.0
16      21300.0
17       4700.0
18      10100.0
19      10100.0
20       8400.0
21      16500.0
22      21900.0
23       8100.0
24      14000.0
25      10400.0
26       6500.0
27       7000.0
28      21600.0
29       3000.0
         ...
4724     5000.0
4725    17200.0
4726     4800.0
4727     4800.0
4728    10800.0
4729     6200.0
4730    15600.0
4731    60200.0
4732     4300.0
4733     9000.0
4734     1500.0
4735    20300.0
4736    10200.0
4737    14800.0
4738     6800.0
4739     3800.0
4740    11300.0
4741    13700.0
4742     9200.0
4743     1700.0
4744     5200.0
4745     6800.0
4746        NaN
4747     4500.0
4748    17300.0
4749    49200.0
4750    10100.0
4751     7600.0
4752     7100.0
4753     4500.0
Name: consfin_credit_limit, Length: 4754, dtype: float64

In [34]:
type('loans_latest_day')

str

### 寻找缺失值&填充：

In [118]:
df_all.isnull().sum().sort_values(ascending = False)#找出哪些行有缺失

0                                             4754
student_feature                               2998
cross_consume_count_last_1_month               426
latest_six_month_apply                         304
apply_score                                    304
apply_credibility                              304
query_org_count                                304
query_finance_count                            304
query_cash_count                               304
query_sum_count                                304
latest_query_time                              304
latest_three_month_apply                       304
latest_one_month_apply                         304
latest_query_day                               304
loans_credibility_limit                        297
loans_count                                    297
consfin_avg_limit                              297
loans_latest_day                               297
loans_credit_limit                             297
consfin_product_count                          297
consfin_org_count_current                      297
consfin_credibility                            297
consfin_credit_limit                           297
loans_avg_limit                                297
loans_max_limit                                297
loans_product_count                            297
loans_org_count_current                        297
loans_score                                    297
loans_credibility_behavior                     297
consfin_max_limit                              297
                                              ...
trans_days_interval                              2
regional_mobility                                2
number_of_trans_from_2011                        2
trans_activity_day                               2
transd_mcc                                       2
trans_activity_month                             2
middle_volume_percent                            2
low_volume_percent                               2
historical_trans_day                             2
first_transaction_time                           2
first_transaction_day                            2
rank_trad_1_month                                2
top_trans_count_last_1_month                     2
trans_day_last_12_month                          2
reg_preference_for_trad                          2
avg_consume_less_12_valid_month                  2
is_high_user                                     0
repayment_capability                             0
abs                                              0
avg_price_last_12_month                          0
historical_trans_amount                          0
max_cumulative_consume_later_1_month             0
pawns_auctions_trusts_consume_last_1_month       0
pawns_auctions_trusts_consume_last_6_month       0
status                                           0
take_amount_in_later_12_month_highest            0
source                                           0
trans_amount_3_month                             0
custid                                           0
Unnamed: 0                                       0
Length: 89, dtype: int64

In [121]:
df_all = df_all.fillna(df_all.mean())   #均值填充
df_all

,Unnamed: 0,custid,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,transd_mcc,trans_days_interval_filter,...,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day,0
0,5,2791858,0.01,0.99,0,0.90,0.55,0.313,17.0,27.0,...,1688.000000,1200.000000,75.00000,1.000000,2.000000,1200.000000,1200.000000,12.000000,18.000000,NaN
1,10,534047,0.02,0.94,2000,1.28,1.00,0.458,19.0,30.0,...,1758.000000,15100.000000,80.00000,5.000000,6.000000,22800.000000,9360.000000,4.000000,2.000000,NaN
2,12,2849787,0.04,0.96,0,1.00,1.00,0.114,13.0,68.0,...,1250.000000,4200.000000,87.00000,1.000000,1.000000,4200.000000,4200.000000,2.000000,6.000000,NaN
3,13,1809708,0.00,0.96,2000,0.13,0.57,0.777,22.0,14.0,...,1541.000000,16300.000000,80.00000,5.000000,5.000000,30000.000000,12180.000000,2.000000,4.000000,NaN
4,14,2499829,0.01,0.99,0,0.46,1.00,0.175,13.0,66.0,...,1630.000000,8300.000000,79.00000,2.000000,2.000000,8400.000000,8250.000000,22.000000,120.000000,NaN
5,15,518072,0.02,0.98,2000,7.59,1.00,0.733,27.0,8.0,...,1941.000000,11200.000000,80.00000,10.000000,12.000000,20400.000000,8130.000000,3.000000,4.000000,NaN
6,16,1205125,0.02,0.98,0,23.67,0.94,0.087,10.0,54.0,...,2200.000000,7600.000000,73.00000,2.000000,2.000000,16800.000000,8900.000000,1.000000,3.000000,NaN
7,18,1129897,0.02,0.98,0,0.25,0.88,0.302,19.0,20.0,...,1820.357864,9187.009199,76.04263,4.732331,5.227507,16153.690823,8007.696881,24.112809,55.181512,NaN
8,20,2599411,0.03,0.65,0,0.31,0.76,0.472,15.0,21.0,...,4750.000000,5500.000000,79.00000,8.000000,11.000000,19200.000000,7987.000000,24.000000,7.000000,NaN
9,26,1413051,0.01,0.99,500,0.80,1.00,0.088,15.0,36.0,...,1520.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,18.000000,142.000000,NaN
10,28,321061,0.01,0.99,0,2.48,0.94,0.322,16.0,29.0,...,1325.000000,9900.000000,80.00000,7.000000,8.000000,20400.000000,7757.000000,12.000000,9.000000,NaN
11,29,750939,0.01,0.99,500,0.72,0.63,0.450,17.0,15.0,...,2450.000000,8300.000000,85.00000,3.000000,3.000000,13200.000000,9400.000000,31.000000,35.000000,NaN
12,30,1169544,0.00,0.73,5000,0.09,0.70,0.697,28.0,12.0,...,2000.000000,19300.000000,79.00000,7.000000,8.000000,42000.000000,16985.000000,38.000000,6.000000,NaN
13,33,193188,0.01,0.79,0,1.24,1.00,0.447,16.0,19.0,...,2240.000000,5000.000000,83.00000,5.000000,7.000000,11400.000000,5460.000000,13.000000,9.000000,NaN
14,37,1780401,0.01,0.89,4000,0.07,1.00,0.233,17.0,32.0,...,1600.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,16.000000,193.000000,NaN
15,41,999803,0.01,0.99,0,1.13,0.76,0.480,20.0,16.0,...,2633.000000,18400.000000,79.00000,9.000000,11.000000,33600.000000,17633.000000,4.000000,27.000000,NaN
16,43,203427,0.02,0.98,0,0.21,1.00,0.247,13.0,50.0,...,2480.000000,21300.000000,77.00000,4.000000,4.000000,27600.000000,9900.000000,3.000000,1.000000,NaN
17,46,829745,0.02,0.98,300,0.60,0.43,0.355,19.0,19.0,...,1575.000000,4700.000000,80.00000,8.000000,10.000000,6600.000000,4062.000000,9.000000,7.000000,NaN
18,48,818730,0.01,0.99,2000,0.87,1.00,0.377,15.0,62.0,...,2533.000000,10100.000000,78.00000,4.000000,4.000000,15600.000000,10275.000000,26.000000,77.000000,NaN
19,49,2318583,0.01,0.96,0,1.37,0.51,0.486,18.0,21.0,...,1957.000000,10100.000000,79.00000,8.000000,9.000000,20400.000000,8187.000000,12.000000,37.000000,NaN
20,50,2770676,0.02,0.98,300,0.11,1.00,0.229,11.0,20.0,...,500.000000,8400.000000,74.00000,1.000000,1.000000,8400.000000,8400.000000,3.000000,71.000000,NaN
21,52,2763960,0.02,0.98,0,0.43,0.66,0.369,15.0,72.0,...,1633.000000,16500.000000,76.00000,2.000000,3.000000,32400.000000,18600.000000,7.000000,23.000000,NaN
22,53,1272880,0.00,0.59,0,3.48,0.92,0.255,19.0,229.0,...,3080.000000,21900.000000,79.00000,11.000000,11.000000,39600.000000,20454.000000,4.000000,1.000000,NaN
23,60,800080,0.01,0.99,2400,1.71,0.57,0.388,18.0,16.0,...,1900.000000,8100.000000,80.00000,6.000000,7.000000,14400.000000,6100.000000,12.000000,9.000000,NaN
24,61,654993,0.02,0.78,2500,1.90,0.83,0.336,23.0,20.0,...,750.000000,14000.000000,75.00000,3.000000,3.000000,31200.000000,15500.000000,14.000000,104.000000,NaN
25,62,140303,0.40,0.60,0,1.46,0.69,0.375,9.0,23.0,...,1560.000000,10400.000000,78.00000,12.000000,14.000000,42600.000000,9841.000000,21.000000,82.000000,NaN
26,64,148742,0.02,0.96,0,12.35,0.96,0.444,20.0,13.0,...,1671.000000,6500.000000,77.00000,2.000000,2.000000,8100.000000,7050.000000,10.000000,80.000000,NaN
27,71,713652,0.01,0.91,2000,46.90,0.69,0.263,19.0,42.0,...,3160.000000,7000.000000,78.00000,13.000000,15.000000,13200.000000,6461.000000,20.000000,6.000000,NaN
28,80,3051745,0.01,0.99,3000,0.91,0.93,0.305,21.0,17.0,...,1825.000000,21600.000000,78.00000,1.000000,1.000000,21600.000000,21600.000000,5.000000,9.000000,NaN
29,88,1870891,0.02,0.64,1500,1.02,0.44,0.211,15.0,38.0,...,2000.000000,3000.000000,79.00000,1.000000,1.000000,3000.000000,3000.000000,24.112809,34.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4724,11923,3401661,0.02,0.98,1000,1.37,0.89,0.287,20.0,31.0,...,2271.000000,5000.000000,79.00000,5.000000,6.000000,9000.000000,3460.000000,21.000000,5.000000,NaN
4725,11924,3089430,0.01,0.99,0,0.28,0.57,0.137,13.0,34.0,...,1166.000000,17200.000000,78.00000,4.000000,4.000000,21600.000000,11850.000000,142.000000,100.000000,NaN
4726,11926,2123865,0.00,1.00,900,1.60,0.90,0.250,12.0,38.0,...,1960.000000,4800.000000,75.00000,1.000000,1.000000,4800.000000,4800.000000,19.000000,53.000000,NaN
4727,11927,295148,0.02,0.98,0,1.33,0.82,0.341,17.0,14.0,...,1812.000000,4800.000000,76.00000,4.000000,4.000000,12000.000000,5125.000000,28.000000,57.000000,NaN
4728,11930,2944213,0.06,0.94,1500,4.70,1.00,0.444,16.0,23.0,...,1662.000000,10800.000000,80.00000,6.000000,6.000000,20400.000000,8933.000000,18.000000,9.000000,NaN
4729,11932,1757011,0.17,0.83,0,0.88,1.00,0.316,16.0,42.0,...,1518.000000,6200.000000,80.00000,4.000000,4.000000,16800.000000,7200.000000,3.000000,104.000000,NaN
4730,11933,3380919,0.01,0.99,2000,0.54,0.44,0.215,17.0,28.0,...,1771.000000,15600.000000,78.00000,1.000000,1.000000,15600.000000,15600.000000,28.000000,128.000000,NaN
4731,11936,1517438,0.00,0.58,2000,2.63,0.73,0.525,19.0,30.0,...,1818.000000,60200.000000,78.00000,13.000000,15.000000,124200.000000,25361.000000,2.000000,11.000000,NaN
4732,11938,3382649,0.11,0.89,4000,49.37,1.00,0.115,12.0,31.0,...,0.000000,4300.000000,80.00000,2.000000,2.000000,7200.000000,4950.000000,9.000000,250.000000,NaN
4733,11940,2867902,0.03,0.97,1000,2.98,0.88,0.255,14.0,38.0,...,2320.000000,9000.000000,81.00000,3.000000,3.000000,13200.000000,6900.000000,14.000000,9.000000,NaN
4734,11941,2854394,0.00,1.00,0,1.06,0.85,0.221,11.0,29.0,...,1950.000000,1500.000000,78.00000,1.000000,1.000000,1500.000000,1500.000000,24.000000,131.000000,NaN
4735,11945,2722837,0.01,0.61,5000,1.15,0.61,0.197,14.0,42.0,...,1750.000000,20300.000000,79.00000,4.000000,4.000000,34800.000000,21100.000000,2.000000,6.000000,NaN
4736,11947,3205825,0.05,0.95,2000,2.39,1.00,0.207,12.0,27.0,...,850.000000,10200.000000,85.00000,1.000000,1.000000,10200.000000,10200.000000,18.000000,156.000000,NaN
4737,11950,11985,0.01,0.99,300,1.00,0.46,0.547,20.0,8.0,...,1757.000000,14800.000000,78.00000,7.000000,8.000000,20400.000000,11714.000000,1.000000,7.000000,NaN
4738,11953,471607,0.02,0.98,0,6.14,0.89,0.133,13.0,28.0,...,900.000000,6800.000000,79.00000,2.000000,3.000000,7200.000000,5700.000000,48.000000,89.000000,NaN
4739,11957,3196970,0.05,0.62,2400,0.28,0.67,0.403,17.0,27.0,...,1766.000000,3800.000000,72.00000,3.000000,3.000000,3900.000000,3600.000000,12.000000,9.000000,NaN
4740,11958,2154764,0.07,0.93,9100,0.71,1.00,0.277,17.0,14.0,...,2200.000000,11300.000000,79.00000,3.000000,3.000000,12000.000000,9200.000000,31.000000,163.000000,NaN
4741,11959,490919,0.00,0.83,3000,0.54,1.00,0.441,20.0,33.0,...,2300.000000,13700.000000,80.00000,3.000000,3.000000,19800.000000,13900.000000,9.000000,140.000000,NaN
4742,11964,2404717,0.02,0.98,11300,0.39,0.96,0.525,18.0,16.0,...,1928.000000,9200.000000,77.00000,7.000000,8.000000,21600.000000,7557.000000,4.000000,4.000000,NaN
4743,11967,2475139,0.00,1.00,0,0.84,1.00,0.372,19.0,44.0,...,1825.000000,1700.000000,72.00000,2.000000,2.000000,3600.000000,2300.000000,11.000000,12.000000,NaN
4744,11968,1039579,0.01,0.96,0,0.89,0.45,0.405,15.0,21.0,...,1691.000000,5200.000000,77.00000,9.000000,11.000000,8400.000000,3344.000000,5.000000,88.000000,NaN
4745,11969,3361286,0.04,0.96,400,0.79,0.67,0.348,15.0,20.0,...,1280.000000,6800.000000,82.00000,4.000000,4.000000,7200.000000,5850.000000,1.000000,8.000000,NaN
4746,11972,692541,0.01,0.91,1600,1.04,0.82,0.541,22.0,14.0,...,1820.357864,9187.009199,76.04263,4.732331,5.227507,16153.690823,8007.696881,24.112809,55.181512,NaN
4747,11974,1886940,0.02,0.40,0,1.08,0.94,0.394,25.0,20.0,...,1100.000000,4500.000000,76.00000,5.000000,6.000000,6000.000000,3260.000000,1.000000,22.000000,NaN
4748,11977,1663311,0.09,0.91,0,0.15,0.20,0.159,8.0,36.0,...,2450.000000,17300.000000,75.00000,2.000000,2.000000,19800.000000,18300.000000,35.000000,54.000000,NaN
4749,11978,3269862,0.05,0.68,1000,0.87,0.94,0.150,16.0,32.0,...,0.000000,49200.000000,78.00000,1.000000,1.000000,49200.000000,49200.000000,44.000000,58.000000,NaN
4750,11986,270952,0.01,0.99,400,0.93,0.98,0.605,18.0,18.0,...,1952.000000,10100.000000,78.00000,7.000000,8.000000,19200.000000,7500.000000,17.000000,55.000000,NaN
4751,11988,2425913,0.00,1.00,3000,0.54,0.64,0.313,16.0,29.0,...,1540.000000,7600.000000,79.00000,8.000000,8.000000,21000.000000,7250.000000,18.000000,55.000000,NaN
4752,11991,471395,0.05,0.95,0,4.79,1.00,0.458,19.0,27.0,...,1216.000000,7100.000000,79.00000,8.000000,11.000000,12000.000000,3950.000000,55.000000,16.000000,NaN
4753,11992,1881943,0.01,0.99,1300,21.35,1.00,0.372,22.0,22.0,...,2180.000000,4500.000000,74.00000,5.000000,5.000000,7800.000000,4360.000000,20.000000,54.000000,NaN